body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#chart {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#detailed {
  border: 1px solid black;
}

#slider {
  border: 1px solid black;
}
